/holamundojava/target/
/holamundojavafx/target/
holamundojava/.DS_Store
*.log
/leccion1/target/
/cursoJava/target/
/proyecto/nodo/target/
/proyecto/cliente/target/
/proyecto1/nodo/target/
/proyecto1/cliente/target/
/proyecto1/LibreriaComunicacion/target/

/lunes/nodo/target/
/lunes/cliente/target/
/lunes/LibreriaComunicacion/target/
/martes/nodo/target/
/martes/cliente/target/
/martes/LibreriaComunicacion/target/
/cargaDinamica/classloader/target/
/cargaDinamica/sumar/target/
/cargaDinamica/restar/target/
proyecto2/cliente/target
/estructuraBasicaSockets/LibreriaComunicacion/target/
/computo/holamundojava/target/
/computo/nodo/target/
/computo/cliente/target/
*.idea
cripto/cripto/logs/*
cripto/whatsup-client/logs/*
